.select {
    width: 220px;
    height: 30px;
    padding: 0 15px;
    margin-top: 2rem;
    background-color: rgba(132, 129, 129, 0.1);
    font-size: 16px;
    color: rgb(97, 95, 95);
    border: none;
    border-bottom: 3px solid lightgray;
    outline: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
